
<br>
<div class="container">


<table  class="table">
  <thead class="table-warning">
  <tr>
    <th scope="col">#</th>    
    <th scope="col">Ap. Paterno</th>    
    <th scope="col">Ap. Materno</th>    
    <th scope="col">Nombres</th>    
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of usuarios; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{a.appaterno}}</td>    
    <td>{{a.apmaterno}}</td>    
    <td>{{a.name}}</td>    
    <td>
      <button (click)="edit(a.id)"class="btn-success"  *ngIf="a.estado=='1'" onclick="return confirm('Desea Inhabilitar?');"  >Activo</button>
      <button (click)="edit(a.id)" class="btn-warning"   *ngIf="a.estado!='1'" onclick="return confirm('Desea Habilitar?');"  >Inactivo</button>
    </td>
    <td>
      <button class="btn-danger" (click)="delete(a.id)">Eliminar</button>
    </td>
  </tr>

  </tbody>
</table>
</div>